.aboutPage {
  width: 1440px;
  height: 2825px;
  position: relative;
  background-color: white;
  overflow: hidden;
}

.banner {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.bannerImage {
  width: 1440px;
  height: 816px;
  position: absolute;
}

.aboutUsTitle {
  position: absolute;
  top: 358px;
  left: 188px;
  color: white;
  font-size: 71.09px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.aboutUsDescription {
  width: 525px;
  height: 115px;
  position: absolute;
  top: 445.36px;
  left: 188px;
  color: white;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.content {
  width: 1252px;
  height: 1264px;
  position: absolute;
  top: 916px;
  left: 188px;
}

.sectionTitle {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.subTitle {
  position: absolute;
  color: black;
  font-size: 34px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.subTitle:nth-child(2) {
  top: 30px;
  left: 0;
}

.subTitle:nth-child(3) {
  top: 853px;
  left: 0;
}

.textContent {
  width: 615px;
  height: 263px;
  position: absolute;
  top: 83px;
  left: 0;
  color: black;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}

.rectangle85 {
  width: 618px;
  height: 284px;
  position: absolute;
  top: 55px;
  left: 634px;
  background-color: rgba(0, 106, 51, 0.1);
  border-top-left-radius: 142px;
  border-bottom-left-radius: 142px;
}

.logoImage {
  width: 345px;
  height: 255.25px;
  position: absolute;
  top: 91px;
  left: 720px;
}

.rectangle86 {
  width: 526px;
  height: 342px;
  position: absolute;
  top: 411px;
  left: 0;
  background-color: #048c46;
  border-radius: 15px;
}

.vision {
  position: absolute;
  top: 453px;
  left: 21px;
  color: white;
  font-size: 34px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.rectangle87 {
  width: 525px;
  height: 342px;
  position: absolute;
  top: 411px;
  left: 540px;
  background-color: #006a33;
  border-radius: 15px;
}

.mission {
  position: absolute;
  top: 453px;
  left: 561px;
  color: white;
  font-size: 34px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.textBox {
  width: 480px;
  height: 197px;
  position: absolute;
  top: 517px;
  left: 21px;
  color: white;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}
